body{
    background-color: black;
}

h2{
    max-width: 700px;
    color: white;
}
input{
    border-radius: 10px;
    width: 900px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}
p{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    color: blue;
}
a{
    color: red;
    font-size: 18px;
}
span{
    color: rgb(15, 14, 15);
}
button{
    font-size: 25px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
}
button:hover{
    font-size: 25px;
    background: linear-gradient(45deg, pink, purple);
    color: black;
    border-radius: 5px;
}
label{
    color: white;
}
.container{
    background: linear-gradient(rgb(211, 84, 205), rgb(101, 47, 163));
    width: 600px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 300px;
}
.container img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.container i{
    color: cyan;
}
@media only screen and (max-width: 384px ){
    .container{
        background: linear-gradient(rgb(211, 84, 205), rgb(101, 47, 163));
        width: 300px;
        border: 1px solid;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-left: 50px;
    }
    input{
        border-radius: 10px;
        width: 250px;
        padding: 10px;
        font-size: 20px;
        margin-top: 10px;
    }
}
